---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { AUTHOR_METADATA } from '../consts';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author, tldr } = Astro.props;

const authorObj = AUTHOR_METADATA[author as keyof typeof AUTHOR_METADATA];
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>
			main {
				display: grid;
				grid-template-rows: auto auto;
				width: 50vw;
			}
			article {
				flex: 1 0 auto;
				padding: 1em;
			}
			aside {
				flex: 1 0 300px;
				padding: 1em;
			}
			img.hero-image {
				width: 100%;
				height: auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 100%;
				max-width: 100%;
				margin: auto;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				line-height: 1;
				color: var(--title-color);
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}
			p.tldr {
				padding: 1em;
				box-shadow: var(--box-shadow);
				border: 1px solid var(--accent);
			}
			div.author {
				display: grid;
				grid-template-columns: auto 1fr;
				grid-gap: 10px;
			}
			div.share-info {
				display: grid;
				grid-template-rows: auto 1fr;
			}
			a.share-button {
				text-decoration: none;
			}

			img.share-button {
				border-radius: 0px;
			}

			@media screen and (max-width: 720px) {
				main {
					display: block;
					width: 90vw;
				}
				article, aside {
					flex: 1 0 100%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<div class="author">
						<div class="author-image">
							<img
								src={authorObj.avatar}
								alt={authorObj.name}
								width={64}
								height={64}
								style={{ borderRadius: '50%' }}
							/>
						</div>
						<div class="author-info">
							<a href={authorObj.twitter} class="author-link">
								<div class="author-name">{authorObj.name}</div>
							</a>
							<div class="author-bio">{authorObj.bio}</div>
						</div>
					</div>
					{tldr && <p class="tldr">TLDR: {tldr}</p>}
					<slot />
				</div>
			</article>
			<aside>
				<div class="hero-image">
					{heroImage && <img class="hero-image" src={heroImage} alt="" />}
				</div>
				<br />
				<div class="share-info">
					<div class="share-title">Share</div>
					<div class="share-buttons">
						<a
							class="share-button"
							href={`https://twitter.com/intent/tweet?text=${title}&url=${encodeURIComponent(
								`${Astro.url}`
							)}`}
							target="_blank"
							rel="noopener noreferrer"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" alt="Share on Twitter" class="share-button" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
								<path d="M9.5,6.8l5.8-6.2h-1.4l-5,5.4l-4-5.4H0l6.2,8.2L0,15.5h1.4l5.4-5.9l4.4,5.9H16L9.5,6.8z M2.1,1.6h2.2l9.7,12.9h-2.2L2.1,1.6z"/>
							</svg>
						</a>
					</div>
				</div>
			</aside>
		</main>
		<Footer />
	</body>
</html>
