---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { AUTHOR_METADATA } from "../consts";

type Props = CollectionEntry<"posts">["data"];

const {
	title,
	description,
	pubDate,
	updatedDate,
	heroImage,
	author,
	keywords,
} = Astro.props;

const authorObj = AUTHOR_METADATA[author as keyof typeof AUTHOR_METADATA];
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>
			main {
				display: grid;
				grid-template-rows: auto auto;
				width: 50vw;
			}
			article {
				flex: 1 0 auto;
			}
			aside {
				flex: 1 0 300px;
				padding: 1em;
			}
			img.hero-image {
				width: 100%;
				height: auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 100%;
				max-width: 100%;
				margin: auto;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				line-height: 1;
				color: var(--title-color);
			}
			.date {
				margin-bottom: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}
			div.author {
				display: grid;
				grid-template-columns: auto 1fr;
				grid-gap: 10px;
			}
			div.share-info {
				display: grid;
				grid-template-rows: auto 1fr;
			}
			a.share-button {
				text-decoration: none;
			}

			img.share-button {
				border-radius: 0px;
			}

			@media screen and (max-width: 720px) {
				main {
					display: block;
					width: 90vw;
				}
				article,
				aside {
					flex: 1 0 100%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1 class="text-2xl md:text-4xl">{title}</h1>
						{
							keywords && (
								<div class="my-3 text-sm inline-grid grid-flow-row md:grid-flow-col">
									{keywords.map((keyword) => (
										<span class="rounded-lg text-green-50 items-center content-center h-fit dark:bg-slate-400 bg-slate-800 w-fit py-1 px-1 m-1">
											{keyword}
										</span>
									))}
								</div>
							)
						}
						<div class="date text-sm">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<div class="flex flex-row my-4 items-center gap-2">
							<div class="author-image">
								<img
									src={authorObj.avatar}
									alt={authorObj.name}
									width={32}
									height={32}
									style={{ borderRadius: "50%" }}
								/>
							</div>
							<div class="author-info">
								<a href={authorObj.twitter} class="author-link text-sm">
									<div class="author-name">{authorObj.name}</div>
								</a>
							</div>
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
			<aside>
				<br />
			</aside>
		</main>
		<Footer />
	</body>
</html>
